.subscribe-button {
  font-family: Arial;
  color: white;
  background-color: rgb(204, 10, 10);
  border: none;
  padding: 10px 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.subscribe-button:hover {
  opacity: 0.7;
  transition: 0.15s;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  font-family: Arial;
  color: #065fd4;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #065fd4;
  padding: 9px 15px;
  cursor: pointer;
  transition: 0.15s;
  margin-right: 10px;
}

.join-button:hover {
  background-color: #065fd4;
  color: white;
}

.join-button:active {
  opacity: 0.5;
}

.tweet-button {
  color: white;
  font-weight: bold;
  background-color: #1d9bf0;
  border: none;
  border-radius: 30px;
  padding: 9px 15px;
  cursor: pointer;

}